# PostgreSQL
POSTGRES_DB=qualappsops
POSTGRES_USER=qualapps_admin
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@qualappsops.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password_here
PGADMIN_PORT=5050
